@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

:root {
	font-family: 'Open Sans', 'Noto Sans Arabic', sans-serif;
	line-height: 1.4;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: #333333;
	--text-color: #222222;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2 {
	font-weight: bold;
	margin-bottom: 0;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
	color: var(--text-color);
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2.2rem;
}

h2 {
	font-size: 1.6rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default !important;
}

button:focus:not(:focus-visible) {
	outline: none;
}

article img {
	width: 800px !important;
	max-width: calc(100vw - 24px);
	height: auto !important;
}

h4 {
	margin-top: -15px;
	font-size: 0.9em;
	font-weight: normal;
	color: #999;
}

article blockquote {
	font-size: 1.4em;
	color: #555;
}

article	ol {
  counter-reset: my-awesome-counter;
  list-style: none;
  padding-inline-start: 40px;
}

article	ol li {
  margin: 0 0 0.8em 0;
  counter-increment: my-awesome-counter;
  position: relative;
}

article ol li::before {
  content: counter(my-awesome-counter);
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  --size: 32px;
  margin-inline-start: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 4px;
  text-align: center;
  border: 2px solid #222;
  border-radius: 50%;
}